<header style="background-image: url({{ site.backgroundImage }}); background-size: cover">
  <nav class="container">
    <ul>
      <li><h2><a href="/" style="color: white;">{{ site.name }}</a></h2></li>
    </ul>
    <ul>
      {% for nav in collections.primary reversed %}
        <li {% if page.url == nav.url %}aria-current="page"{% endif %}>
          <a href="{{ nav.url }}" style="color: white;">{{ nav.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>